{{~#if
  (ne this.isSelected false)
~}}
<div class="tah-subcategory" data-has-actions="{{~#if (tf this.actions.length)~}}true{{~else~}}false{{~/if~}}" data-show-title="{{advancedCategoryOptions.showTitle}}">
  <div class="tah-subtitle{{~#if subtitleClass}} {{subtitleClass}}{{~/if~}}" id="{{this.nestId}}" data-type="{{this.type}}" data-has-derived-subcategories="{{this.hasDerivedSubcategories}}">
    {{~#if img~}}<div class="tah-img" style="background: url({{img}}) no-repeat center center; background-size:contain"></div>{{~/if~}}
    {{~#if icon~}}<div class="tah-icon">{{{icon}}}</div>{{~/if~}}
    {{cap this.name}}
    {{~#if info1.text~}}<div class="tah-info1{{~#if info1.class}} {{info1.class}}{{~/if~}}" title="{{~#if info1.title}}{{info1.title}}{{~else~}}{{info1.text}}{{~/if}}">{{info1.text}}</div>{{~/if~}}
    {{~#if info2.text~}}<div class="tah-info2{{~#if info2.class}} {{info2.class}}{{~/if~}}" title="{{~#if info2.title}}{{info2.title}}{{~else~}}{{info2.text}}{{~/if}}">{{info2.text}}</div>{{~/if~}}
    <i class="fa fa-filter" aria-hidden="true"></i>
  </div>
  {{~#if
    (tf this.actions.length)
  ~}}
  <div class="tah-actions{{~#if actionsClass}} {{actionsClass}}{{~/if~}}">
    {{#each actions}}
      {{>"modules/token-action-hud-core/templates/action.hbs"}}
    {{/each}}
  </div>
  {{~/if~}}
  {{~#if this.subcategories~}}
  {{#each subcategories}}
  {{>"modules/token-action-hud-core/templates/subcategory.hbs"}}
  {{/each}}
  {{~/if~}}
</div>
{{~/if~}}