{{~#if (ne isSelected false)~}}
<div class="tah-tab-group" id="tah-group-{{nestId}}" data-nest-id="{{nestId}}" data-has-actions="{{~#if (tf hasActions)~}}true{{~else~}}false{{~/if~}}" data-level="{{level}}" data-type="{{type}}" data-show-title="{{settings.showTitle}}">
    <button class="tah-group-button" value="{{id}}">
        {{~#if settings.image~}}<div class="tah-button-image" style="background: url({{settings.image}}) no-repeat center center; background-size:contain"></div>{{~/if~}}
        <span class="tah-button-content">
            {{~#if settings.showTitle~}}<div class="tah-button-text">{{cap name}}</div>{{~/if~}}
            <i class="fa fa-pen-to-square" aria-hidden="true"></i>
            {{~#if info1~}}<div class="tah-info1">{{info1}}</div>{{~/if~}}
            {{~#if info2~}}<div class="tah-info2">{{info2}}</div>{{~/if~}}
            {{~#if info3~}}<div class="tah-info3">{{info3}}</div>{{~/if~}}
        </span>
    </button>
    <div class="tah-groups">
        {{~#if (tf hasActions)~}}
        <div class="tah-actions{{~#if actionsClass}} {{actionsClass}}{{~/if~}}">
        {{#each actions}}
            {{>"modules/token-action-hud-core/templates/action.hbs"}}
        {{/each}}
        </div>
        {{~/if~}}
        {{~#if (tf groups.lists.length)~}}
        <div class="tah-list-groups">
            {{#each groups.lists}}
                {{>"modules/token-action-hud-core/templates/list-group.hbs" categoryId=../id}}
            {{/each}}
        </div>
        {{~/if~}}
        {{~#if (tf groups.tabs.length)~}}
        <div class="tah-tab-groups">
            {{#each groups.tabs}}
                {{>"modules/token-action-hud-core/templates/tab-group.hbs" categoryId=../id}}
            {{/each}}
        </div>
        {{~/if~}}
    </div>
</div>
{{~/if~}}