<form class="flexcol">
    <div class="flexcol">
        <section>
            <div class="tah-dialog-col-group">
                <div class="tah-dialog-detail">
                    <label>{{{localize "tokenActionHud.form.hud.hudDetail"}}}</label>
                </div>
                <div>{{localize "tokenActionHud.form.hud.selectedItems"}}</div>
                <div class="tah-dialog-col-group">
                    <input
                        name="tah-dialog-tagify"
                        class="tah-dialog-tagify"
                        placeholder="{{placeholder}}"
                    />
                </div>
                <div class="tah-dialog-col-group">
                    <button type="button" id="tah-dialog-unselect-all" class="tah-dialog-light-button tags--removeAllBtn">
                        <i class="fa-regular fa-filter-slash"></i>{{localize "tokenActionHud.form.hud.unselectAll"}}
                    </button>
                </div>
                <div class="tah-dialog-col-group">
                    <button type="button" id="tah-dialog-reset-actions">
                        <i class="fa-solid fa-arrow-rotate-left"></i>{{localize "tokenActionHud.form.hud.resetActions.button"}}
                    </button>
                </div>
                <div class="form-group slim">
                    <label>{{localize "tokenActionHud.form.group.grid.label"}}</label>
                    <div class="form-fields">
                        <input type="checkbox" name="grid" {{~#if settings.grid}}checked{{~/if~}}/>
                    </div>
                    <p class="hint">{{localize "tokenActionHud.form.group.grid.hint"}}</p>
                </div>
            </div>
        </section>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" id="tah-dialog-submit" name="submit" class="">
            <i class="fas fa-check"></i></i>{{localize "tokenActionHud.accept"}}
        </button>
        <button type="button" id="tah-form-cancel" name="cancel" class="">
            <i class="fas fa-times"></i></i>{{localize "tokenActionHud.cancel"}}
        </button>
    </footer>
</form>