<div style="margin-bottom: 5px;">
  <label>{{topLabel}}</label>
</div>
<div>
  <input
    name="token-action-hud-taginput"
    class="token-action-hud-taginput"
    placeholder="{{placeholder}}"
  />
</div>
<div>
  <button id="tah-clear-button" class="tags--removeAllBtn">
    <i class="fa-duotone fa-filter-circle-xmark"></i>{{clearButtonText}}
  </button>
</div>
{{~#if level~}}
<h3>{{localize "tokenActionHud.tagDialog.advancedCategoryOptions.title"}}</h3>
{{~#if (eq this.level "subcategory") ~}}
<div class="flexrow" style="justify-content:space-between; align-items: center; margin-bottom: 5px;">
  <label>{{localize "tokenActionHud.tagDialog.advancedCategoryOptions.showTitle"}}</label>
  <input type="checkbox" name="show-name" {{~#if advancedCategoryOptions.showTitle~}}checked{{~/if~}}/>
</div>
{{~/if~}}
{{~#if (eq this.level "category") ~}}
<div class="flexrow" style="justify-content:space-between; align-items: center;">
  <label>{{localize "tokenActionHud.tagDialog.advancedCategoryOptions.customWidth"}}</label>
  <input type="number" name="custom-width" value="{{advancedCategoryOptions.customWidth}}" />
</div>
{{~/if~}}
<div class="flexrow" style="justify-content:space-between; align-items: center; margin-bottom: 5px;">
  <label>{{localize "tokenActionHud.tagDialog.advancedCategoryOptions.characterCount"}}</label>
  <input type="number" name="character-count" placeholder="No limit" value="{{advancedCategoryOptions.characterCount}}" />
</div>
{{~/if~}}
</div>
